amazon-product-scraper==1.2.2
asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
datakund==1.5.9
Django==3.1.7
django-crispy-forms==1.11.1
idna==2.10
Pillow==8.1.2
psycopg2-binary==2.8.6
pytz==2021.1
requests==2.25.1
soupsieve==2.2.1
sqlparse==0.4.1
tqdm==4.59.0
urllib3==1.26.4
whitenoise==5.2.0