{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div role="main" class="main shop py-4">

	<div class="container">

		<div class="row">
			<div class="col">

				<div class="featured-boxes">
					<div class="row">
						<div class="col">
							<div class="featured-box featured-box-primary text-left mt-2">
								<div class="box-content">
									<form id="updatecart" method="POST" >
										{% csrf_token %}
										<table class="shop_table cart">
											<thead>
												<tr>
													<th class="product-remove">
														&nbsp;
													</th>
													<th class="product-thumbnail">
														&nbsp;
													</th>
													<th class="product-name">
														Product
													</th>
													<th class="product-price">
														Price
													</th>
													<th class="product-quantity">
														Quantity
													</th>
													<!-- <th class="product-subtotal">
														Total
													</th> -->
												</tr>
											</thead>
											<tbody>
												{% for item in cart%}
													<tr class="cart_table_item" name="{{item.asin}}">
														<td class="product-remove">
															<a title="Remove this item" id="delete" class="remove" data-slug="{{item.asin}}" href="#">
																<i class="fas fa-times"></i>
															</a>
														</td>
														<td class="product-thumbnail">
															<a href="{% url 'product-page' item.asin|slugify %}">
																<img width="100" height="100" alt="" class="img-fluid" src="{{item.images.small}}">
															</a>
														</td>
														<td class="product-name">
															<a href="{% url 'product-page' item.asin|slugify %}">{{item.name}}</a>
														</td>
														<td class="product-price">
															<span class="amount">${{item.fiat_price}}</span>
														</td>
														<td class="product-quantity">
															
															<div class="quantity">
																<input type="button" class="minus" value="-">
																<input type="text" id="{{item.asin}}" class="input-text qty text" title="Qty" value="{{item.qty}}" name="{{item.asin}}" min="1" step="1">
																<input type="button" class="plus" value="+">
															</div>
												
														</td>
														<!-- <td class="product-subtotal">
															<span class="amount">$299</span>
														</td> -->
													</tr>
												{% endfor %}

												<tr>
													<td class="actions" colspan="6">
														<div class="actions-continue">
															<input type="submit" value="Update Cart" name="update_cart" class="btn btn-xl btn-light pr-4 pl-4 text-2 font-weight-semibold text-uppercase">
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="featured-boxes">
					<div class="row">
						<div class="col-sm-6">
							<div class="featured-box featured-box-primary text-left mt-3 mt-lg-4">
								<div class="box-content">
									<h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">Calculate Shipping</h4>

									<form >
										<div class="form-row">
											<div class="form-group col">
												<label class="font-weight-bold text-dark">Country *</label>
												<select id="country" class="form-control" required="true">
													<option value="">Select a country</option>
													<option value="AF">Afghanistan</option>
													<option value="AL">Albania</option>
													<option value="DZ">Algeria</option>
													<option value="AS">American Samoa</option>
													<option value="AD">Andorra</option>
													<option value="AO">Angola</option>
													<option value="AI">Anguilla</option>
													<option value="AQ">Antarctica</option>
													<option value="AG">Antigua and Barbuda</option>
													<option value="AR">Argentina</option>
													<option value="AM">Armenia</option>
													<option value="AW">Aruba</option>
													<option value="AC">Ascension Island</option>
													<option value="AU">Australia</option>
													<option value="AT">Austria</option>
													<option value="AZ">Azerbaijan</option>
													<option value="BS">Bahamas</option>
													<option value="BH">Bahrain</option>
													<option value="BD">Bangladesh</option>
													<option value="BB">Barbados</option>
													<option value="BE">Belgium</option>
													<option value="BZ">Belize</option>
													<option value="BJ">Benin</option>
													<option value="BM">Bermuda</option>
													<option value="BT">Bhutan</option>
													<option value="BO">Bolivia</option>
													<option value="BQ">Bonaire, Sint Eustatius & Saba</option>
													<option value="BA">Bosnia and Herzegovina</option>
													<option value="BW">Botswana</option>
													<option value="BR">Brazil</option>
													<option value="VG">British Virgin Islands</option>
													<option value="BN">Brunei Darussalam</option>
													<option value="BG">Bulgaria</option>
													<option value="BF">Burkina Faso</option>
													<option value="BI">Burundi</option>
													<option value="KH">Cambodia</option>
													<option value="CM">Cameroon</option>
													<option value="CA">Canada</option>
													<option value="CV">Cape Verde</option>
													<option value="KY">Cayman Islands</option>
													<option value="CF">Central African Republic</option>
													<option value="TD">Chad</option>
													<option value="CL">Chile</option>
													<option value="CN">China</option>
													<option value="CX">Christmas Island</option>
													<option value="CO">Colombia</option>
													<option value="KM">Comoros</option>
													<option value="CG">Congo</option>
													<option value="CD">Congo, Democratic Republic of the</option>
													<option value="CK">Cook Islands</option>
													<option value="CR">Costa Rica</option>
													<option value="CI">Cote d'Ivoire</option>
													<option value="HR">Croatia</option>
													<option value="CW">Curacao</option>
													<option value="CY">Cyprus</option>
													<option value="CZ">Czech Republic</option>
													<option value="DJ">Djibouti</option>
													<option value="DM">Dominica</option>
													<option value="DO">Dominican Republic</option>
													<option value="EC">Ecuador</option>
													<option value="EG">Egypt</option>
													<option value="SV">El Salvador</option>
													<option value="GQ">Equatorial Guinea</option>
													<option value="ER">Eritrea</option>
													<option value="EE">Estonia</option>
													<option value="ET">Ethiopia</option>
													<option value="FK">Falkland Islands</option>
													<option value="FO">Faroe Islands</option>
													<option value="FJ">Fiji</option>
													<option value="FI">Finland</option>
													<option value="FR">France</option>
													<option value="GF">French Guiana</option>
													<option value="PF">French Polynesia</option>
													<option value="GA">Gabon</option>
													<option value="GM">Gambia</option>
													<option value="GE">Georgia</option>
													<option value="DE">Germany</option>
													<option value="GH">Ghana</option>
													<option value="GI">Gibraltar</option>
													<option value="GR">Greece</option>
													<option value="GD">Grenada</option>
													<option value="GP">Guadeloupe</option>
													<option value="GU">Guam</option>
													<option value="GT">Guatemala</option>
													<option value="GG">Guernsey</option>
													<option value="GN">Guinea</option>
													<option value="GY">Guyana</option>
													<option value="HT">Haiti</option>
													<option value="HN">Honduras</option>
													<option value="HK">Hong Kong</option>
													<option value="HU">Hungary</option>
													<option value="IS">Iceland</option>
													<option value="IN">India</option>
													<option value="ID">Indonesia</option>
													<option value="IQ">Iraq</option>
													<option value="IE">Ireland</option>
													<option value="IM">Isle of Man</option>
													<option value="IT">Italy</option>
													<option value="JM">Jamaica</option>
													<option value="JP">Japan</option>
													<option value="JE">Jersey</option>
													<option value="JO">Jordan</option>
													<option value="KZ">Kazakhstan</option>
													<option value="KI">Kiribati</option>
													<option value="KR">Korea</option>
													<option value="KW">Kuwait</option>
													<option value="KG">Kyrgyzstan</option>
													<option value="LA">Laos</option>
													<option value="LV">Latvia</option>
													<option value="LB">Lebanon</option>
													<option value="LS">Lesotho</option>
													<option value="LR">Liberia</option>
													<option value="LY">Libya</option>
													<option value="LI">Liechtenstein</option>
													<option value="LT">Lithuania</option>
													<option value="LU">Luxembourg</option>
													<option value="MO">Macau</option>
													<option value="MK">Macedonia</option>
													<option value="MG">Madagascar</option>
													<option value="MW">Malawi</option>
													<option value="MY">Malaysia</option>
													<option value="MV">Maldives</option>
													<option value="ML">Mali</option>
													<option value="MT">Malta</option>
													<option value="MH">Marshall Islands</option>
													<option value="MQ">Martinique</option>
													<option value="MR">Mauritania</option>
													<option value="MU">Mauritius</option>
													<option value="YT">Mayotte</option>
													<option value="MX">Mexico</option>
													<option value="FM">Micronesia</option>
													<option value="MD">Moldova</option>
													<option value="MC">Monaco</option>
													<option value="MN">Mongolia</option>
													<option value="ME">Montenegro</option>
													<option value="MS">Montserrat</option>
													<option value="MA">Morocco</option>
													<option value="MZ">Mozambique</option>
													<option value="NA">Namibia</option>
													<option value="NR">Nauru</option>
													<option value="NP">Nepal</option>
													<option value="NL">Netherlands</option>
													<option value="NC">New Caledonia</option>
													<option value="NZ">New Zealand</option>
													<option value="NI">Nicaragua</option>
													<option value="NE">Niger</option>
													<option value="NG">Nigeria</option>
													<option value="NU">Niue</option>
													<option value="MP">Northern Mariana Islands (Saipan)</option>
													<option value="NO">Norway</option>
													<option value="OM">Oman</option>
													<option value="PK">Pakistan</option>
													<option value="PW">Palau</option>
													<option value="PA">Panama</option>
													<option value="PG">Papua New Guinea</option>
													<option value="PY">Paraguay</option>
													<option value="PE">Peru</option>
													<option value="PH">Philippines</option>
													<option value="PN">Pitcairn Islands</option>
													<option value="PL">Poland</option>
													<option value="PT">Portugal</option>
													<option value="PR">Puerto Rico</option>
													<option value="QA">Qatar</option>
													<option value="RE">Reunion</option>
													<option value="RO">Romania</option>
													<option value="RU">Russian Federation</option>
													<option value="RW">Rwanda</option>
													<option value="BL">Saint Barthelemy</option>
													<option value="SH">Saint Helena</option>
													<option value="KN">Saint Kitts and Nevis</option>
													<option value="LC">Saint Lucia</option>
													<option value="MF">Saint Martin</option>
													<option value="PM">Saint Pierre and Miquelon</option>
													<option value="VC">Saint Vincent and Grenadines</option>
													<option value="WS">Samoa</option>
													<option value="SM">San Marino</option>
													<option value="ST">Sao Tome and Principe</option>
													<option value="SA">Saudi Arabia</option>
													<option value="SN">Senegal</option>
													<option value="RS">Serbia</option>
													<option value="SC">Seychelles</option>
													<option value="SL">Sierra Leone</option>
													<option value="SG">Singapore</option>
													<option value="SX">Sint Maarten</option>
													<option value="SK">Slovakia</option>
													<option value="SI">Slovenia</option>
													<option value="SB">Solomon Islands</option>
													<option value="SO">Somalia</option>
													<option value="ZA">South Africa</option>
													<option value="ES">Spain</option>
													<option value="LK">Sri Lanka</option>
													<option value="SR">Suriname</option>
													<option value="SZ">Swaziland</option>
													<option value="SE">Sweden</option>
													<option value="CH">Switzerland</option>
													<option value="TW">Taiwan</option>
													<option value="TJ">Tajikistan</option>
													<option value="TZ">Tanzania</option>
													<option value="TL">Timor-Leste</option>
													<option value="TG">Togo</option>
													<option value="TO">Tonga</option>
													<option value="TA">Tristan da Cunha</option>
													<option value="TN">Tunisia</option>
													<option value="TR">Turkey</option>
													<option value="TM">Turkmenistan</option>
													<option value="TC">Turks and Caicos Islands</option>
													<option value="TV">Tuvalu</option>
													<option value="VI">U.S. Virgin Islands</option>
													<option value="UG">Uganda</option>
													<option value="UA">Ukraine</option>
													<option value="AE">United Arab Emirates	</option>
													<option value="GB">United Kingdom	</option>
													<option value="US">United States of America	</option>
													<option value="UY">Uruguay</option>
													<option value="UZ">Uzbekistan</option>
													<option value="VU">Vanuatu</option>
													<option value="VA">Vatican City	</option>
													<option value="VE">Venezuela</option>
													<option value="VN">Vietnam</option>
													<option value="WF">Wallis and Futuna</option>
													<option value="YE">Yemen</option>
													<option value="ZM">Zambia</option>
												</select>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-lg-6">
												<label class="font-weight-bold text-dark">State</label>
												<input id="state" type="text" value="" class="form-control">
											</div>
											<div class="form-group col-lg-6">
												<label class="font-weight-bold text-dark">Zip Code</label>
												<input id="zipcode" type="text" value="" class="form-control">
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col">
												<label class="font-weight-bold text-dark">Carrier *</label>
												<select id="carrier" class="form-control" required="true">
													<option  value="">Select a carrier</option>
												</select>
											</div>
										</div>
										<input id="weight" hidden="true" type=""  value="{{total_weight}}" name="">
										<div class="form-row">
											<div class="form-group col">
												<input id="updateshipping" type="submit" value="Update Totals" class="btn btn-xl btn-light pr-4 pl-4 text-2 font-weight-semibold text-uppercase" data-loading-text="Loading...">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="featured-box featured-box-primary text-left mt-3 mt-lg-4">
								<div class="box-content">
									<h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">Cart Totals</h4>
									<table class="cart-totals">
										<tbody>
											<tr class="cart-subtotal">
												<th>
													<strong class="text-dark">Cart Subtotal</strong>
												</th>
												<td>
													<strong class="text-dark"><span class="amount" id="subtotal">${{cart_subtotal}}</span></strong>
												</td>
											</tr>
											<tr class="shipping">
												<th>
													Shipping
												</th>
												<td id="shipping_price">
													
												</td>
											</tr>
											<tr class="total">
												<th>
													<strong class="text-dark">Order Total</strong>
												</th>
												<td>
													<strong class="text-dark"><span class="amount" id="amount"></span></strong>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- <form method="POST" action="{% url 'checkout-page' %}"> -->
					{% csrf_token %}
					<input type="" name="subtotal" value="{{cart_subtotal}}" hidden="true">
					<input type="" name="shipping" value="" hidden="true">
					<input type="" name="total" value="" hidden="true">
					<input type="" name="country" value="" hidden="true">
					<input type="" name="carrier" value="" hidden="true">
					<div class="row">
						<div class="col">
							<div class="actions-continue">
								<a href="{% url 'checkout-page' %}"><button id="proceed"   type="submit" class="btn btn-primary btn-modern text-uppercase">Proceed to Checkout <i class="fas fa-angle-right ml-1"></i></button></a>
							</div>
						</div>
					</div>
				<!-- </form> -->

			</div>
		</div>

	</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).on('submit', '#updatecart', function (e) {
		e.preventDefault();

		$.ajax({
            type: 'POST',
            url: '/update_cart/',
		    data: $("#updatecart").serialize(),
            datatype: 'json',
            success: function (res) {
            	var modification = res.modified;
            	console.log(res.cart_subtotal)
                 var i;
                 for (var i = 0; i < modification.length; i++) {
                 	document.getElementById(modification[i].keys()).value = modification[i].values()
                 	
                 }
                 document.getElementById('weight').value = res.total_weight
                 document.getElementById('subtotal').innerHTML =  `$${res.cart_subtotal}`
                 document.getElementsByName('total')[0].value = parseFloat(res.cart_subtotal)
                 
             	document.getElementById('shipping_price').innerHTML = ''
         	 	document.getElementById('amount').innerHTML = ''  
         	 	var e = document.getElementById("country");
	  			var countryselect = e.value;
         	 	if (countryselect != 'none') {
         	 		$.ajax({
		            type: 'POST',
		            url: '/get_shipping/',
				    data: {
				    	country: countryselect,
				    	weight: $("#weight").val(),
				    	csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				    },
		            datatype: 'json',
		            success: function (res) {
		            	document.getElementById("carrier").innerHTML = '<option value="none" selected="selecte">Select a carrier</option>';
		            	

		                 var i;
		                 for (var i = 0; i < res.length; i++) {
		                 	document.getElementById("carrier").innerHTML += `<option value="${res[i].premiumRate.amountUsd}">${res[i].service}</option>`

		                 }


		            }
		        })
         	 	}
         	 	
                 
            }
        })
	})


	$(document).on('change', '#country', function() {
	  var e = document.getElementById("country");
	  var countryselect = e.value;
	  document.getElementsByName('country')[0].value = countryselect
	  $.ajax({
            type: 'POST',
            url: '/get_shipping/',
		    data: {
		    	country: countryselect,
		    	weight: $("#weight").val(),
		    	csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
		    },
            datatype: 'json',
            success: function (res) {
            	document.getElementById("carrier").innerHTML = '<option value="none">Select a carrier</option>';
                 var i;
                 for (var i = 0; i < res.length; i++) {
                 	document.getElementById("carrier").innerHTML += `<option value="${res[i].usdamount}">${res[i].service}</option>`

                 }
                 document.getElementById('shipping_price').innerHTML = ''
             	 document.getElementById('amount').innerHTML = ''

            }
        })

	});

	$(document).on('change', '#carrier', function() {
	  
	  document.getElementById('shipping_price').innerHTML = ''
	  document.getElementById('amount').innerHTML = ''

	});
	$(document).on('click', '#proceed', function(j){
		var e = document.getElementById("country");
	    var countryselect = e.value;

		var y = document.getElementById("carrier");
	    var carrierselect = y.value;

		var o = document.getElementById('subtotal').innerHTML
		console.log(o)

		if( countryselect==""|| carrierselect==""){
			j.preventDefault();
			alert("Please Select Country and Carrier.")
		}

		if(o == "$0.00"){
			j.preventDefault();
			alert("Your cart is empty.")
		}
	})
	
	// $(document).on('click', '#checkout', function() {
	//   var e = document.getElementById("country");
	//   var countryselect = e.value;

	//   e = document.getElementById("state");
	//   var stateselect = e.value;

	//   e = document.getElementById("zipcode");
	//   var zipcodeselect = e.value;

	//   e = document.getElementById("carrier");
	//   var carrierselect = e.value;
	//   $.ajax({
 //            type: 'POST',
 //            url: '/checkout/',
	// 	    data: {
	// 	    	country: countryselect,
	// 	    	state: stateselect,
	// 	    	zipcode: zipcodeselect,
	// 	    	carrier: carrierselect,
	// 	    	csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
	// 	    },
 //            datatype: 'json',
 //            success: function (res) {
            	 

 //            }
 //        })

	// });

	// $(document).on('submit', '#updatecart', function() {
	//   var e = document.getElementById("country");
	//   var countryselect = e.value;
	//   console.log(countryselect)
	//   document.getElementById("carrier").disabled = true
	//   $.ajax({
 //            type: 'POST',
 //            url: '/get_shipping/',
	// 	    data: {
	// 	    	country: countryselect,
	// 	    	weight: $("#weight").val(),
	// 	    	csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
	// 	    },
 //            datatype: 'json',
 //            success: function (res) {
 //            	document.getElementById("carrier").disabled = false;
 //            	document.getElementById("carrier").innerHTML = '<option value="">Select a carrier</option>';
            	

 //                 var i;
 //                 for (var i = 0; i < res.length; i++) {
 //                 	document.getElementById("carrier").innerHTML += `<option value="${res[i].premiumRate.amountUsd}">${res[i].service}</option>`

 //                 }


 //            }
 //        })

	// });

	$(document).on('click', '#updateshipping', function(a) {
	  a.preventDefault();
	  var e = document.getElementById("carrier");
	  var carrierselect = e.value;
	  var carrier = e.options[e.selectedIndex].innerHTML
	  document.getElementById('shipping_price').innerHTML = `$${carrierselect}`

	  var cartsubtotal = document.getElementById('subtotal').innerHTML.replace('$','')
 	  var shippingcost = document.getElementById('shipping_price').innerHTML.replace('$','')
 	  var totalamount = (parseFloat(cartsubtotal) + parseFloat(shippingcost)).toFixed(2)
 	  document.getElementById('amount').innerHTML = `$${totalamount}`
 	  document.getElementsByName('shipping')[0].value = parseFloat(shippingcost)
	  document.getElementsByName('carrier')[0].value = e.options[e.selectedIndex].text
 	  document.getElementsByName('total')[0].value = parseFloat(totalamount)

	   var e = document.getElementById("country");
		var countryselect = e.value;
		$.ajax({
				type: 'POST',
				url: '/save_shipping/',
				data: {
					country: countryselect,
					state: $('#state').val(),
					postalcode: $('#zipcode').val(),
					carrier: carrier,
					subtotal:cartsubtotal,
					shippingcost:shippingcost,
					totalamount:totalamount,
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
				datatype: 'json',
				success: function (res) {
					

				}
			})

	});

	$(document).on('click', '#delete', function (e) {
        let el = $(this);
        $(this).closest("tr").remove();
        $.ajax({
            type: 'POST',
            url: "/delete_item/",
            data: {
                item: el.attr("data-slug"),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
    
            success: function (response) {
                $.ajax({
		            type: 'GET',
		            url: '/get_item_number/',
		            datatype: 'json',
		            success: function (res) {
		            	console.log(res.item_number)
		            	if (parseFloat(res.item_number) > 0) {
		            		document.getElementById('numbercart').innerHTML = `<span class="cart-qty">${res.item_number}</span>`
		            	}else{
		            		document.getElementById('numbercart').innerHTML = ''
		            	}
		            }
		        })
            }
        })
    })

</script>
<script>

</script>
{% endblock content %}