{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="container py-2">

        <div class="row">
            <div class="col-lg-3 mt-4 mt-lg-0">

                <div class="d-flex justify-content-center mb-4">
                    <div class="profile-image-outer-container">
                        <div class="profile-image-inner-container bg-color-primary">
                            <img src="{% static 'users/img/avatars/avatar.png'%}">

                        </div>
                    </div>
                </div> 
                <h4 style="padding-left: 80px;">Balance: ${{user.profile.balance|floatformat:2}}</h4>
                 <aside class="sidebar mt-2" id="sidebar">
                    <ul class="nav nav-list flex-column mb-5">
                        <li class="nav-item"><a class="nav-link" href="{% url 'profile-page' %}">My Profile</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#">Address Book</a></li> -->
                        <li class="nav-item"><a class="nav-link text-dark active" href="{% url 'deposit-page' %}">Deposit</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#">Billing</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Invoices</a></li> -->
                    </ul>
                </aside>

            </div>
            <div class="col-lg-9">

                <div class="overflow-hidden mb-1">
                    <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold"></strong> Deposit</h2>
                </div>
                <div class="overflow-hidden mb-4 pb-3">
                </div>

               
    
        
        <!-- <div class="text-center mb-lg">
            <h2 class="btc-balance">$0.00</h2>
            
        </div> -->
        
    
        
    
        <div class="clearfix"></div>
    
        <div class="tab-content mt-sm">
        
            
            <div class="tab-pane active" id="account-wallet-deposit-btc" data-action="deposit">
            
                <div class="row panel-xs-fix">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="center-block-table">
                                
                            </div>
                        </div>
                        <div class="text-center">
                            <h2 class="btc-balance" style="padding-bottom: 25px;">${{user.profile.balance|floatformat:2}}</h2>
                            <a href="https://www.bitcoinqrcodemaker.com"><img src="https://www.bitcoinqrcodemaker.com/api/?style=bitcoin&amp;address={{address}}" alt="Bitcoin QR Code Generator" height="300" width="300" border="0" /></a>
                            <h5>Send Bitcoin (BTC) to this Address</h5>
                        </div>
                        <p class="text-center" id="add_field">
                            <span id="copied"  style="color:#4781b4; display: none;">Copied! </span>
                            <i class="fa fa-fw fa-copy pr-xs" id="copy-text"></i>
                            <span class="text-selectable select-address" id="addre">{{address}}</span>
                            
                        </p>
                        
                        <div class="text-center mt-lg" id="status">
                            
                            <p><b id="confimation"></b></p>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        
        
        
        </div>
    </div>
    </div></div>
                                <div class="tab-pane row " id="wallet-bch"><div><div class="col-md-12 col-sm-12 wallet-container">
        
    
        
        
        
    
        
    
        
    
        
    </div>
    </div></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>

            </div>
        </div>

    </div>

    <script type="text/javascript">
        var address="{{address}}";
        var status="{{status}}"
    </script>
      <script type="text/javascript" src="{% static 'users/js/invoice.js' %}"></script>

    <script>

    function selectText(node) {
            node = document.getElementById(node);

            if (document.body.createTextRange) {
                const range = document.body.createTextRange();
                range.moveToElementText(node);
                range.select();
            } else if (window.getSelection) {
                const selection = window.getSelection();
                const range = document.createRange();
                range.selectNodeContents(node);
                selection.removeAllRanges();
                selection.addRange(range);
            } else {
                console.warn("Could not select text in node: Unsupported browser.");
            }
        }

        let copyText = document.querySelector("#add_field");
        copyText.querySelector("#copy-text").addEventListener("click", function () {
            selectText("addre")
            document.execCommand("copy");
            copyText.classList.add("active");
            window.getSelection().removeAllRanges();
            setTimeout(function () {
                copyText.classList.remove("active");
            }, 2500);
            document.getElementById("copied").style.display = ""
        });

        
    </script>
{% endblock content %}